@import 'ca11/lib/variables';
@import 'ca11/lib/mixins';

.c-dtmf {
    align-items: stretch;
    display: flex;
    flex: 1;

    .c-stream {
        background: none;
        border: 0;
        border-bottom-right-radius: var(--spacer);
        flex: 2;

        video {
            height: 100%;
            // Fill the screen for styling purpose; right aspect-ratio
            // is restored when in a call.
            object-fit: cover;
            width: 100%;
        }
    }

    .keys-container {
        display: grid;
        grid-gap: var(--spacer);

        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        height: 100%;
        justify-content: center;
        width: 100%;


        &.disabled {
            opacity: 0.5;

            .key-row {
                .key {
                    &:hover {
                        background: var(--grey-0);
                        color: var(--primary-base);
                        cursor: not-allowed;
                    }
                }
            }
        }

        .key {
            background: var(--bg-dark);
            color: var(--grey-100);
            font-family: 'Rajdhani';
            font-size: var(--text-huge);
            font-weight: 600;
            outline: none;

            width: 100%;

            &:hover {
                color: var(--primary-base);
                cursor: pointer;
            }

            &.function {
                color: var(--grey-300);
                font-size: 1.5rem;
            }

            .sub {
                color: var(--grey-100);
                font-size: 0.9rem;
            }
        }

    }
}
