@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

.c-stream-view {
    align-items: stretch;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;

    .slot {
        // flex-grow: 1;
        height: 50%;
        max-height: 50%;
    }

    @media screen {
        flex-direction: column;

        .slot {
            width: 100%;
        }
    }


    @media screen and (min-width: $breakpoint-desktop) {
        align-items: center;
        flex-direction: row;
        height: 100%;

        .slot {
            width: 50%;
        }
    }


    .c-stream {
        background: var(--bg-default);
        border-radius: var(--spacer);
        display: flex;
        flex: 1;
        height: 100%;
        margin: var(--spacer);
        padding: var(--spacer);
        transition: all 0.25s;

        &.placeholder {
            background: none;

            svg {
                fill: var(--grey-100);
            }
        }

        video {
            background: none;
        }
    }
}

.tr-stream-enter {
    opacity: 0;
}

.tr-stream-enter-to {
    opacity: 1;
}

.tr-stream-leave {
    opacity: 1;
}

.tr-stream-leave-to {
    opacity: 0;
}

.tr-stream-enter-active {
    transition: opacity 0.5s;
}
