// A module is
@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

panel {
    background: var(--bg-default);
    border-bottom-left-radius: var(--spacer);
    border-top-left-radius: var(--spacer);
    display: flex;
    flex-direction: column;
    position: relative;

    .actions {
        align-items: center;
        // Border in the same style as the scroll trackbar.
        color: var(--primary-base);
        display: block;
        flex: 1;
        flex-direction: column;


        .action {
            background: none;
            border-bottom: 0;
            border-bottom: $spacer-05 solid transparent;

            &.active {
                border-bottom: $spacer-05 solid var(--primary-base);

                svg {
                    fill: var(--primary-base);
                }
            }

            svg {
                @include icon-size($spacer * 3);
            }
        }
    }

}

.module {
    display: grid;
    grid-template-areas: 'module-panel module-content';
    grid-template-columns: $space-4 1fr;
    height: 100%;
    max-height: 500px;
    max-width: 700px;
    width: 100%;


    &.full-size {
        display: flex;
    }

    panel {
        grid-area: module-panel;

        .filters {
            display: flex;
            flex: 1;
            flex-direction: column-reverse;
            margin-top: var(--spacer);

            .filter {
                align-items: center;
                color: var(--grey-400);
                display: flex;
                justify-content: center;
                // Override .field's margin-bottom.
                margin: 0;
                margin-bottom: var(--spacer);
                padding: 0;
                user-select: none;

                &:hover,
                &.active {
                    color: var(--grey-200);

                    svg {
                        border: $spacer / 4 solid var(--primary-base);
                        fill: var(--primary-base);
                    }
                }

                &:hover {
                    cursor: pointer;
                }

                svg {
                    background: var(--grey-400);
                    border: $spacer / 4 solid var(--grey-200);
                    border-radius: 50%;
                    fill: var(--grey-100);
                    height: var(--icon-large);
                    padding: var(--spacer);
                    width: var(--icon-large);
                }
            }
        }

        .tabs {
            .tab {
                align-items: center;
                background: none;
                border-left: 0;
                border-right: 0;
                display: flex;
                justify-content: center;
                width: $space-4;

                &.active {
                    border-bottom: $spacer-05 solid var(--primary-base);
                    color: var(--primary-base);
                }

                &.disabled {
                    opacity: 0.3;

                    &:hover {
                        cursor: not-allowed;
                    }
                }
            }
        }
    }

    content {
        background: var(--bg-dark);
        border-bottom-right-radius: var(--spacer);
        border-top-right-radius: var(--spacer);
        grid-area: module-content;
    }
}


