@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

.c-menu {
    background: palette('bg', 'default');
    z-index: 100;

    button {
        svg {
            height: 40px;
            width: 40px;
        }
    }
}
