@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

.c-contacts {
    display: flex;
    flex-direction: column;

    .entry button {
        &.available svg {fill: $green-color;}
        &.busy svg {fill: $red-color;}
        &.not-set svg {fill: var(--grey-50);}

        &.failed {
            background: $red-color;

            svg {
                fill: var(--grey-0);
            }
        }
    }


    .item-list {
        .item {
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.endpoint-leds {
    display: flex;
    padding-left: var(--spacer-025);
    width: 100%;

    .led {
        @include icon-size($spacer * 1.5);
        background: var(--grey-100);
        border-radius: 50%;
        margin-right: $spacer / 1.5;

        &.available {background: $green-color;}
        &.busy {background: $red-color;}
        &.not-set {background: var(--grey-100);}

        &.failed {
            background: var(--grey-50);
            border: 1px solid $red-color;
        }

        &.ringing {
            animation: ringing-svg 0.75s ease-in-out infinite;

            path[pid='0'] {fill: $red-color;}
            path[pid='1'] {fill: var(--grey-0);}
        }
    }
}

