{
    "webphone": {
        "endpoints": {
            "sig11": "sig11.dev.ca11.app",
            "sip": "sip.dev.ca11.app",
            "stun": [
                "stun:dev.ca11.app"
            ]
        },
        "imports": {
            "blueimp-md5": "./static/web_modules/blueimp-md5.js",
            "@ca11/sig11/call.js": "/packages/sig11/call.js",
            "@ca11/sig11/client.js": "/packages/sig11/client.js",
            "@ca11/sig11/lib/crypto.js": "/packages/sig11/lib/crypto.js",
            "@ca11/sip/client.js": "/packages/sip/client.js",
            "@ca11/sip/call.js": "/packages/sip/call.js",
            "@ca11/webphone/lib/call.js": "/packages/webphone/lib/call.js",
            "@ca11/webphone-theme/icons/index.js": "./static/web_modules/@ca11/webphone-theme/icons/index.js",
            "@garage11/vue-i18n": "./static/web_modules/@garage11/vue-i18n.js",
            "@garage11/vue-i18n/src/store-stash.js": "./static/web_modules/@garage11/vue-i18n/src/store-stash.js",
            "eventemitter3": "./static/web_modules/eventemitter3.js",
            "sdp-transform": "./static/web_modules/sdp-transform.js",
            "v-click-outside": "./static/web_modules/v-click-outside.js",
            "vue-stash": "./static/web_modules/vue-stash.js",
            "vue-svgicon": "./static/web_modules/vue-svgicon.js",
            "vue/dist/vue.runtime.js": "./static/web_modules/vue/dist/vue.runtime.js",
            "vuelidate": "./static/web_modules/vuelidate.js",
            "vuelidate/dist/validators.min.js": "./static/web_modules/vuelidate/dist/validators.min.js",
            "shortid/lib/index.js": "./static/web_modules/shortid/lib/index.js",
            "@/": "./static/"
        }
    },
    "testing": {
        "headless": false,
        "port": 3000
    },
    "theme": "@ca11/webphone-theme",
    "tower": {
        "port": 3001,
        "knex": {
            "client": "postgresql",
            "connection": {
                "host": "127.0.0.1",
                "user" : "asterisk",
                "password": "ca11ftw",
                "database": "asterisk"
            }
        }
    }
}
