{
    "name": {
        "alpha": "CA11-alpha",
        "beta": "CA11-beta",
        "production": "CA11"
    },
    "endpoints": {
        "sig11": "sig11.dev.ca11.app",
        "sip": "sip.dev.ca11.app",
        "stun": [
            "stun:dev.ca11.app"
        ]
    },
    "testing": {
        "headless": false,
        "port": 3000
    },
    "theme": "@ca11/theme",
    "tower": {
        "port": 3001,
        "knex": {
            "client": "postgresql",
            "connection": {
                "host": "127.0.0.1",
                "user" : "asterisk",
                "password": "ca11ftw",
                "database": "asterisk"
            }
        }
    }
}
