@import 'ca11/lib/variables';
@import 'ca11/lib/variables-responsive';
@import 'ca11/lib/fonts';
@import 'ca11/lib/defaults';


:root {
    --sidebar-width: 250px;
}

@media screen and (max-width: $breakpoint-desktop) {
    :root {

    }
}

@media screen and (max-width: $breakpoint-mobile) {
    :root {
        --sidebar-width: #{$spacer * 5};
    }
}

@import './elements/illustration';
@import './elements/instruction';
