@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

.c-dnd {
    .c-checkbox label.switch input + .slider {
        .icon-disabled {
            // Highlight that this setting makes the user unavailable.
            fill: var(--green-color);
        }
    }

    .c-checkbox label.switch input:checked + .slider {
        .icon-enabled {
            // Highlight that this setting makes the user unavailable.
            fill: var(--red-color);
        }
    }

    .c-checkbox.extended {
        background: none;

        label.switch span::before {
            background: none;
        }
    }
}
