@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

// Unflip the video image during tests, or
// the webrtc test counter is getting mirrored.
html.test .c-stream video {
    transform: none;
}

.c-stream {
    background: var(--bg-dark);
    display: flex;
    flex: 1;
    overflow: hidden;
    position: relative;

    &.video {
        video {
            // transform: scaleX(-1);
        }
    }

    .stream-icon {
        fill: var(--grey-50);
        filter: drop-shadow(0 0 var(--spacer) rgba(0, 0, 0, 0.7));
        height: 100%;
        opacity: 0.8;
        padding: 20%;
        position: absolute;
        transition: all 0.5s;
        width: 100%;

        &.hidden {
            opacity: 0;
        }
    }

    div.audio,
    video {
        display: none;
        height: 100%;
        object-fit: cover;
        width: 100%;


        &.visible {
            display: flex;
            flex: 1;
        }
    }

    &__placeholder {
        background: var(--grey-500);
        color: var(--grey-50);
        font-family: 'Rajdhani';
        font-weight: 600;
        text-align: center;

        svg {
            @include icon-size($spacer * 6);
        }
    }
}
