@import 'ca11/lib/variables';
@import 'ca11/lib/mixins';

.c-caller {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    .call-type {
        align-items: center;

        display: flex;
        font-weight: bold;
        justify-content: center;
        text-align: center;

        strong {
            font-weight: bold;
        }

        .switch-light {
            width: 100px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .call-active {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .call-disabled {
        align-items: center;
        color: var(--grey-100);
        display: flex;
        flex-direction: column;
        font-family: 'Rajdhani';
        font-weight: 600;
        margin-top: $spacer * 6;
        width: 100%;

        .disabled-icon {
            @include icon-size($spacer * 8);
            color: var(--grey-100);
        }

        .disabled-text {
            color: $red-color;
            font-size: 1.2rem;
            font-weight: 500;
            margin-top: $spacer * 3;
            text-align: center;
            width: 100%;
        }

        .disabled-reason {
            color: var(--grey-300);
            font-style: italic;
            margin-bottom: $spacer * 2;
            margin-top: var(--spacer);
            text-align: center;
            width: 100%;
        }
    }

    .call-controls {
        display: flex;
    }

    .local-stream-preview {
        margin: 0 auto;
        max-width: $breakpoint-mobile;
    }
}
