@import 'ca11/lib/variables';
@import 'ca11/lib/mixins';

.c-keypad {
    align-items: stretch;
    background: var(--bg-dark);
    display: flex;
    flex: 1;

    .c-stream {
        background: none;
        border: 0;
        border-bottom-right-radius: var(--spacer);
        border-left: 2px solid var(--bg-default);
        flex: 2;

        video {
            height: 100%;
            // Fill the screen for styling purpose; right aspect-ratio
            // is restored when in a call.
            object-fit: cover;
            width: 100%;
        }
    }

    .keys-container {
        align-content: center;
        display: flex;

        display: flex;
        flex: 2;
        flex-direction: column;
        justify-content: center;
        width: 100%;


        &.disabled {
            opacity: 0.5;

            .key-row {
                .key {
                    &:hover {
                        background: var(--grey-0);
                        color: var(--primary-base);
                        cursor: not-allowed;
                    }
                }
            }
        }

        .key-row {
            display: flex;
            flex: 1;
            justify-content: center;
            // Don't allow the mobile virtual keyboard to distort the
            // key layout when the input is active.
            min-height: 80px;
            width: 100%;

            .key {
                border: 0;
                break-inside: avoid;
                color: var(--grey-100);
                font-family: 'Rajdhani';
                font-size: 1.7rem;
                font-weight: 600;
                height: 100%;
                outline: none;

                width: 100%;

                &:hover {
                    color: var(--primary-base);
                    cursor: pointer;
                }

                &.function {
                    color: var(--grey-300);
                    font-size: 1.5rem;
                }

                .sub {
                    color: var(--grey-100);
                    font-size: 0.9rem;
                }
            }
        }
    }
}
