@import 'ca11/lib/variables';
@import 'ca11/lib/mixins';

.c-keypad {
    .content__header {
        flex: $space-4 0 0;
    }

    .main {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .call-btn {
        background: var(--bg-default);
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        height: 65px;
        width: 100%;

        &:hover {
            background: var(--bg-default);
        }
    }

    .container {
        display: flex;
        padding: 0;
    }

    .keypad-container {
        display: flex;
        flex-direction: column;
    }

    .c-media-type {
        align-items: center;
        background: var(--grey-400);
        color: #fff;
        display: flex;
        height: $space-4;
        justify-content: center;

        &.selected {
            background: var(--primary-base);
            color: #fff;
        }

        &:hover {
            cursor: pointer;
        }

        svg {
            @include icon-size($icon-normal);
        }
    }

    .c-stream {
        background: none;
        border-right: 2px solid var(--grey-400);
        border-top-left-radius: 15px;
        width: 100%;

        &.selected {
            filter: grayscale(0%);
        }

        &:hover {
            cursor: pointer;
        }

    }

    .keys-container {
        align-content: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

        &.disabled {
            opacity: 0.5;

            .key-row {
                .key {
                    &:hover {
                        background: var(--grey-0);
                        color: var(--primary-base);
                        cursor: not-allowed;
                    }
                }
            }
        }

        .key-row {
            display: flex;
            flex: 1;
            justify-content: center;
            // Don't allow the mobile virtual keyboard to distort the
            // key layout when the input is active.
            min-height: 80px;
            width: 100%;

            .key {
                border: 0;
                break-inside: avoid;
                color: var(--grey-100);
                font-family: 'Rajdhani';
                font-size: 1.7rem;
                font-weight: 600;
                height: 100%;
                outline: none;

                width: 100%;

                &:hover {
                    color: var(--primary-base);
                    cursor: pointer;
                }

                &.function {
                    color: var(--grey-300);
                    font-size: 1.5rem;
                }

                .sub {
                    color: var(--grey-100);
                    font-size: 0.9rem;
                }
            }
        }
    }
}
