@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

.c-wizard {
    align-items: center;
    background: var(--grey-0);
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    grid-column-end: 4;
    grid-column-start: 1;
    grid-row-end: main-content;
    grid-row-start: main-status;
    margin: 0 auto;
    max-width: 400px;
    padding: $spacer * 3;
    width: 100%;

    .field {
        text-align: left;
        width: 100%;
    }

    &__header {
        color: var(--primary-base);
        font-family: 'Rajdhani';
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: $spacer * 2;
        text-transform: uppercase;
    }

    &__description {
        color: var(--grey-300);
        line-height: 1.5rem;
        text-align: justify;
        text-align-last: center;
    }

    &__help {
        font-size: var(--text-small);
        font-style: italic;
        margin-top: $spacer * 2;
    }

    &__progress {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-bottom: $spacer * 3;
        margin-top: $spacer * 3;

        &-step {
            @include icon-size($spacer * 1.5);
            background: var(--grey-200);
            border-radius: 50%;
            margin-right: $spacer * 1.5;


            &.active {
                background: var(--primary-base);
            }
        }
    }

}
