@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

.c-menu-context {
    background: var(--bg-default);
    border-bottom-right-radius: var(--spacer);
    border-top-right-radius: var(--spacer);
    grid-area: body-gutter-left;
    padding: calc(var(--space-4) / 2) 0;

}
