@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

.c-devices-permission {
    color: var(--grey-300);
    line-height: 1.5rem;
    text-align: justify;
    text-align-last: center;

    .browser-bar {
        align-items: center;
        display: flex;
        justify-content: center;
        position: relative;

        .cam-disabled {
            align-items: center;
            background: var(--grey-50);
            border: var(--border) solid var(--grey-100);
            border-bottom-right-radius: $spacer * 2.5;
            border-top-right-radius: $spacer * 2.5;
            display: flex;
            height: $spacer * 5;
            justify-content: center;
            margin-bottom: var(--spacer);
            margin-top: $spacer * 2;
            vertical-align: middle;
            width: $spacer * 8;

            .cam {
                @include icon-size($spacer * 4);
            }

            &.cam-disabled {
                .cam {
                    fill: $red-color;
                    path[pid='0'] {fill: var(--grey-300); }
                    path[pid='2'] {fill: var(--grey-0); }
                }
            }

            &.cam-enabled {
                position: relative;
            }
        }

        button {
            color: var(--grey-400);
            margin-top: $spacer * 2;

            .icon {
                fill: var(--grey-500);
            }
        }
    }
}
