@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

.c-protocol-status {
    .protocol-status {
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
        width: 100%;

        label {
            width: 100%;
        }


        button {
            padding: $spacer 0;

            &.registered {
                color: var(--primary-base);
            }

            svg {
                @include icon-size($spacer * 2);
            }
        }
    }

}
