@import 'ca11/lib/variables';

.c-page {
    display: flex;
    flex-direction: column;

    pre {
        margin: 0;
        max-width: 100%;
        white-space: pre-line;
    }

    h1,
    h2,
    h3,
    h4 {
        margin: 0;
        padding: 0;
    }

    p {
        color: var(--grey-300);
        font-size: var(--text-base);
        letter-spacing: 0.3px;
        line-height: 1.5rem;
        margin: $spacer 0;
    }

    h1 {
        color: var(--primary-base);
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    h2 {
        color: var(--primary-base);
        font-size: 1.7rem;
        font-weight: 500;
        margin-top: $spacer * 2;
    }

    h3 {
        color: var(--grey-400);
        font-size: 1.3rem;
        font-weight: 500;
        margin-top: var(--spacer);
        text-transform: uppercase;
    }

    h4 {
        color: $grey-color;
        font-size: 1.2rem;
    }

    pre {
        padding: 0;
    }

    strong {
        font-weight: 500;
    }

    .steps-images {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: $spacer * 3 0;
        width: 100%;

        .cell {
            background-color: var(--grey-50);
            flex: 1 1 auto;
            padding: 10px;
            text-align: center;

            img {
                flex-grow: 1;
                max-height: 300px;
                max-width: 100%;
            }
        }
    }

    &__quote {
        display: block;
        font-family: 'Rajdhani';
        font-style: italic;
        line-height: 2.5rem;
    }
}

.columns {
    display: flex;

    .column {
        width: 50%;

        &:first-child {
            margin-right: var(--gutter);
        }
    }
}
