@import 'ca11/lib/variables';
@import 'ca11/lib/mixins';

.c-radio {
    input {
        border: 0;
        height: 0;
        overflow: hidden;
        position: absolute;
        width: 0;

        &[disabled='disabled'] + label {
            color: var(--grey-50);

            &:hover {
                cursor: not-allowed;
            }
        }

        &:checked + label {
            background: var(--grey-300);
            color: var(--primary-base);
        }
    }

    label {
        color: var(--grey-200);
        display: inline-block;
        font-family: 'Rajdhani';
        font-size: 0.9rem;
        font-weight: 600;
        height: $spacer * 5;

        line-height: calc(var(--spacer) * 5);
        text-align: center;
        text-shadow: none;
        transition: all 0.2s ease-in-out;
        width: calc(var(--spacer) * 5);

        svg {
            @include icon-size(var(--icon-normal));
        }

        &:first-of-type {
            border-right: 0;
        }

        &:last-of-type {
            border-left: 0;
        }

        &:hover {
            cursor: pointer;
        }
    }
}
