@import 'ca11/lib/variables';


footer {
    color: var(--grey-200);
    font-family: 'Rajdhani';
    font-weight: 500;
    margin-bottom: var(--space-3);
    margin-top: var(--gutter);
    max-width: $breakpoint-tablet;
    text-align: right;

    a {
        color: var(--grey-200);

        &:hover {
            color: var(--primary-base);
        }
    }
}
