<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>CA11 - Free Communication</title>
        <meta name="theme-color" content="<%=settings.webphone.theme.colors['brand-color']%>"/>
        <meta name="viewport" content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>
        <%if (settings.BUILD_TARGET === 'pwa') { %>
        <link rel="manifest" href="/manifest.json">
        <% } %>
        <link rel="icon" href="/img/logo.png"/>
        <link href="/app.css" rel="stylesheet"/>
        <script>globalThis.env = <% print(JSON.stringify(settings.webphone)) %></script>
        <%if (settings.webphone.imports) { %>
        <script type="importmap">
            {
            "imports": <% - print(JSON.stringify(settings.webphone.imports)); %>
            }
        </script>
        <% } %>
    </head>
    <body>
        <div id="app"></div>
    </body>

    <script type="module" src="/ca11.js"></script>

    <!-- <%if (settings.BUILD_TARGET === 'pwa') { %>
    <script>
    navigator.serviceWorker.register('/sw.js').then(function(registration) {
        console.log('Registered events at scope: ', registration.scope);
    })
    </script>
    <% } %> -->
</html>
