.instructions {
    counter-reset: instruction-counter;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    margin-top: $spacer * 5;
    padding: 0;
    width: 100%;

    &.steps {
        .instruction {
            counter-increment: instruction-counter;

            &__image {
                &::before {
                    align-items: center;
                    color: var(--primary-base);
                    content: 'STEP ' counter(instruction-counter);
                    display: flex;
                    font-family: 'Rajdhani';
                    font-size: var(--text-base);
                    font-weight: bold;
                    height: 20px;
                    justify-content: center;
                    margin-top: -$spacer * 3;
                    position: absolute;
                    z-index: 100000;
                }
            }
        }
    }


    @at-root .instruction {
        display: flex;
        font-weight: bold;
        margin-bottom: $spacer * 5;
        position: relative;
        width: 100%;


        &__image {
            flex: 0 0 75px;

            img {
                border: 1px solid var(--grey-50);
                box-shadow: 0 0 $spacer-05 rgba(var(--grey-400), 0.8);
                position: relative;
                transition: all 0.5s ease-in-out;
                width: 75px;
                z-index: 100000000;

                &:hover {
                    cursor: zoom-in;
                    transform: scale(3);
                    z-index: 100000001;
                }
            }
        }

        &__text {
            color: var(--grey-300);
            font-family: 'Rajdhani';
            font-weight: 500;
            line-height: 1.4rem;
            margin: 0 var(--spacer);

            &::first-letter {
                font-weight: 600;
            }
        }

        @media screen and (min-width: $breakpoint-desktop) {
            width: 50%;

            &__image {
                flex: 0 0 100px;

                img {
                    width: 100px;
                }
            }
        }



        &__note {
            background: var(--grey-50);
            border: var(--border) dotted var(--grey-100);
            padding: var(--gutter);
        }

        &__warn {
            background: var(--grey-50);
            border: var(--border) dotted $red-color;
            padding: var(--gutter);
        }

        &__ref {
            color: var(--primary-base);
            font-family: 'Rajdhani';
            font-size: var(--text-small);
            font-weight: 600;
            position: relative;
            top: -var(--spacer);
            width: 0;
        }
    }
}
