@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

.c-call {
    display: flex;
    flex: 1;

    .soundmeter {
        background: var(--grey-50);
        height: $spacer / 4;
        margin: 0 auto;
        margin-top: $spacer;
        max-width: 350px;
    }
}

.call-actions {
    align-self: flex-start;
    display: flex;
    justify-content: center;
    width: 100%;

    .rounded-button {
        border: 2px solid var(--grey-50);

        svg {
            @include icon-size($spacer * 4);
        }
    }

    .action {
        margin: $spacer;

        // &.decline {
        //     background: $red-color;
        //     color: $white-color;
        //     &:hover {background: lighten($red-color, 10%);}
        // }

        // &.accept {
        //     background: $green-color;
        //     color: $white-color;
        //     &:hover {background: lighten($green-color, 10%);}
        // }

        // &.dial {
        //     background: var(--primary-base);
        //     color: $white-color;
        //     // &:hover {background: lighten(var(--primary-base), 10%);}
        // }

        &.disabled {
            background: var(--grey-300);

            &:hover {
                background: var(--grey-300);
                cursor: not-allowed;
            }
        }
    }
}

