@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

// Unflip the video image during tests, or
// the webrtc test counter is getting mirrored.
html.test .c-stream video {
    transform: none;
}

.c-stream {
    align-items: center;
    background: var(--grey-500);
    display: flex;
    font-family: 'Rajdhani';
    justify-content: center;
    overflow: hidden;
    position: relative;
    transition: all 0.5s;

    &__icon {
        fill: var(--grey-100);
        height: 50%;
        position: absolute;
        width: 50%;
    }

    video {
        // The getUserMedia video is flipped; unflip it.
        // transform: scaleX(-1);
    }

    audio,
    video,
    .content {
        align-items: center;
        color: var(--grey-300);
        display: flex;
        font-family: 'Rajdhani';
        font-weight: 600;
        height: 100%;
        justify-content: center;
        // object-fit: cover;
        position: relative;
        width: 100%;
    }


    &__loading {
        @include icon-size(50%);
        margin: 0 auto;
    }

    &__slot {
        @include icon-size($icon-large);
        border: $spacer-05 solid var(--grey-100);
        border-radius: 50%;
        bottom: var(--spacer);
        color: var(--grey-100);
        font-size: 1.5rem;
        font-weight: 600;
        position: absolute;
        right: var(--spacer);
        text-align: center;
        user-select: none;
    }


    &__controls {
        align-items: center;
        background: var(--bg-dark);
        bottom: 0;
        display: flex;
        justify-content: flex-end;
        padding-right: var(--spacer);
        position: absolute;
        right: 0;
        width: 100%;

        svg {
            @include icon-size($icon-large);
            fill: var(--grey-100);

            &.active:hover,
            &.active {
                fill: var(--primary-base);
                filter: drop-shadow(0 0 $spacer / 2 var(--grey-0));
            }

            &:hover {
                background: rgba(var(--grey-50), 0.3);
                cursor: pointer;
                fill: var(--grey-0);
            }
        }
    }


    &__placeholder {
        background: var(--grey-500);
        color: var(--grey-50);
        font-family: 'Rajdhani';
        font-weight: 600;
        text-align: center;

        svg {
            @include icon-size($spacer * 6);
        }
    }

    &__stats {
        color: var(--grey-400);
        text-align: center;
    }
}
