@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

// Unflip the video image during tests, or
// the webrtc test counter is getting mirrored.
html.test .c-stream video {
    transform: none;
}

.c-stream {
    display: flex;
    flex: 1;
    overflow: hidden;
    position: relative;


    .audio {
        background: #00f;
        height: 100%;
    }

    .fade-enter-active {
        transition: opacity 4.5s;
    }

    .fade-leave-active {
        transition: opacity 12.5s;
    }

    .fade-enter,
    .fade-leave-to {
        opacity: 0;
    }


    .stream-icon {
        fill: var(--grey-50);
        filter: drop-shadow(0 0 var(--spacer) rgba(0, 0, 0, 0.7));
        height: 100%;
        padding: 150px;
        position: absolute;
        transition: all 0.5s;
        width: 100%;

        &.hidden {
            opacity: 0;
        }
    }

    div.audio,
    video {
        display: none;
        height: 100%;
        object-fit: cover;
        width: 100%;

        &.visible {
            display: flex;
            flex: 1;
        }
    }

    &__placeholder {
        background: var(--grey-500);
        color: var(--grey-50);
        font-family: 'Rajdhani';
        font-weight: 600;
        text-align: center;

        svg {
            @include icon-size($spacer * 6);
        }
    }
}
