@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

// Unflip the video image during tests, or
// the webrtc test counter is getting mirrored.
html.test .c-stream video {
    transform: none;
}

.c-stream {
    align-items: center;
    background: var(--bg-dark);
    border: var(--border) solid var(--bg-light);
    display: flex;
    flex-direction: row;
    font-family: 'Rajdhani';
    height: 100%;
    justify-content: center;
    overflow: hidden;
    position: relative;
    transition: all 0.5s;


    .stream-icon {
        fill: var(--grey-100);
        height: 50%;
        position: absolute;
        width: 50%;
    }

    audio {
        background: #f00;
        display: flex !important;
        height: 100%;
        width: 100%;
    }

    audio,
    video {
        align-items: center;
        color: var(--grey-300);
        display: flex;
        max-width: 100%;
        position: relative;
        // transition: opacity 2s ease-in-out;
    }


    // .controls {
    //     align-items: center;
    //     background: var(--bg-default);
    //     bottom: 0;
    //     display: flex;
    //     flex-direction: column;
    //     // justify-content: flex-end;

    //     // position: absolute;
    //     width: 50px;


    //     svg {
    //         fill: var(--grey-100);
    //         height: var(--icon-normal);
    //         width: var(--icon-normal);

    //         &.active:hover,
    //         &.active {
    //             fill: var(--primary-base);
    //             filter: drop-shadow(0 0 $spacer / 2 var(--grey-0));
    //         }

    //         &:hover {
    //             background: rgba(var(--grey-50), 0.3);
    //             cursor: pointer;
    //             fill: var(--grey-0);
    //         }
    //     }
    // }


    &__placeholder {
        background: var(--grey-500);
        color: var(--grey-50);
        font-family: 'Rajdhani';
        font-weight: 600;
        text-align: center;

        svg {
            @include icon-size($spacer * 6);
        }
    }

    &__stats {
        color: var(--grey-400);
        text-align: center;
    }
}
