@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';


.c-caller-bar {
    $self: &;
    background: var(--bg-default);
    bottom: 0;
    color: var(--primary-base);
    display: flex;
    font-family: 'Rajdhani';
    font-weight: 600;
    height: $space-4;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    z-index: 100;


    .call-direction {
        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
        width: $space-4;

        svg {
            @include icon-size($spacer * 4);
        }
    }

    .call-endpoint {
        align-items: center;
        display: flex;
        padding-left: $spacer-05;
        text-transform: uppercase;
    }

    .call-status {
        align-items: center;
        display: flex;
        padding-right: var(--spacer);
        text-transform: uppercase;

        svg {
            @include icon-size($spacer * 3);
            margin: 0 var(--spacer);
        }

        &-timer {
            padding-right: var(--spacer);
            text-align: right;
            width: $space-4;
        }
    }

    &__context-switch-leave-active,
    &__context-switch-enter-active {
        transition: transform 0.3s ease;
    }

    &__context-switch-enter,
    &__context-switch-leave-to {
        transform: translateY(#{-$space-4});
    }

    &__context-switch-enter-to,
    &__context-switch-leave {
        transform: translateY(0);
    }
}
