@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';


.c-notifications {
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 100000;

    .notification {
        align-items: center;
        background: var(--primary-base);
        border-bottom: var(--spacer-05) solid var(--grey-50);
        border-radius: 0;
        color: var(--grey-50);
        display: flex;
        flex-direction: row;
        font-family: 'Rajdhani';
        font-weight: 600;
        height: $spacer * 7;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        transition: all 0.25s;

        .icon {
            align-items: center;
            background: var(--primary-base);
            display: flex;
            height: 100%;
            justify-content: center;
            width: $space-4;

            svg {
                @include icon-size(var(--icon-normal));
                fill: var(--grey-50);
                height: $spacer * 3;
                width: $spacer * 3;
            }
        }

        .message {
            flex-grow: 1;
        }

        .actions {
            line-height: $spacer * 6;

            svg {
                margin-right: $spacer;

                &:hover {
                    cursor: pointer;
                    fill: var(--grey-50);
                }
            }
        }
    }

    // Vue transition classes.
    .notification-enter {
        opacity: 0;
        transform: scale(0);
    }

    .notification-enter-to {
        opacity: 1;
        transform: scale(1);
    }

    .notification-leave-active {
        transform: scale(0);
    }

    .notification-move {
        opacity: 1;
        transition: all 0.5s;
    }
}


.test .c-notifications {
    display: none;
}
