@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';


.c-menu-communicate {
    background: var(--bg-default);
    border-bottom-left-radius: var(--spacer);
    border-top-left-radius: var(--spacer);
    display: flex;
    flex-direction: column;
    grid-area: body-gutter-right;
    padding: calc(var(--space-4) / 2) 0;
}
