@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

.c-main {
    align-items: center;
    background-blend-mode: darken;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    transition: background 2s;
    width: 100vw;

    &.splash-0 {
        background-image: url('/img/splash-0.jpg');
    }

    &.splash-1 {
        background-image: url('/img/splash-1.jpg');
    }

    &.splash-2 {
        background-image: url('/img/splash-2.jpg');
    }

    &.splash-3 {
        background-image: url('/img/splash-3.jpg');
    }

    &.splash-4 {
        background-image: url('/img/splash-4.jpg');
    }

    &.splash-5 {
        background-image: url('/img/splash-5.jpg');
    }

    &.splash-6 {
        background-image: url('/img/splash-6.jpg');
    }

    &__content {
        .main {
            padding-right: 0;
            width: 100%;
        }
    }
}

// 100vh on Android doesn't take the toolbar in account.
html.chrome.android {
    &:not(.standalone) {
        .c-main {
            height: calc(100vh - #{$android-toolbar-height});
        }
    }
}
