@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

.c-main {
    align-items: center;
    background-blend-mode: darken;
    background-image: url('/img/wallpaper.jpg');
    background-size: cover;
    display: grid;
    grid-template-areas:
        'body-gutter-left body-header'
        'body-gutter-left body-content'
        'body-gutter-left body-content'
        'body-footer body-footer';

    grid-template-columns: $space-4 1fr;
    grid-template-rows: $space-4 1fr $space-4;
    height: 100vh;
    overflow: hidden;
    transition: background 2s;
    width: 100vw;

    .tr-caller-bar-leave-active,
    .tr-caller-bar-enter-active {
        transition: transform 0.3s ease;
    }

    // Animate out of screen.
    .tr-caller-bar-enter,
    .tr-caller-bar-leave-to {
        transform: translateY(#{-$space-4});
    }

    // Animate in screen.
    .tr-caller-bar-enter-to,
    .tr-caller-bar-leave {
        transform: translateY(0);
    }
}
