.notification-box {
    border-radius: $spacer / 2;
    font-size: 0.75rem;
    overflow: auto;
    padding: $spacer ($spacer * 2);

    &.info {
        background: var(--grey-50);
        border: 1px solid var(--grey-100);
        color: var(--grey-400);

        a {
            color: var(--primary-base);
        }

        header {
            color: var(--primary-base);

            svg {
                fill: var(--primary-base);
            }
        }
    }

    &.troubleshoot {
        background: var(--grey-50);
        border: 1px solid $red-color;
        color: var(--grey-400);

        a {
            color: $red-color;
        }

        header {
            color: $red-color;

            svg {
                fill: $red-color;
            }
        }
    }

    header {
        align-items: center;
        display: flex;
        font-weight: bold;
        margin-bottom: var(--spacer);
        text-transform: uppercase;

        svg {
            color: var(--primary-base);
            margin-right: var(--spacer);
        }
    }

    .description {
        margin-bottom: var(--spacer);
    }

    ul {
        li {
            margin-bottom: $spacer / 4;
            text-align: left;

            // Icons that are used in help texts.
            svg {
                height: 0.75rem;
                width: 0.75rem;
            }
        }
    }
}
