@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

.c-stream-view {
    background: var(--bg-light);

    display: grid;
    grid-gap: calc(var(--space-4) / 4);
    justify-content: center;

    &.grid-1,
    &.grid-2 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    &.grid-3,
    &.grid-4 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    &.grid-5 {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }


    .stream-container {
        box-shadow: 0 0 16px var(--grey-500);
        display: flex;

        &::before {
            content: '';
            padding-bottom: calc(100% / 1.3);
        }
    }

    @media screen and (min-width: $breakpoint-mobile) {
        grid-gap: calc(var(--space-4) / 2);

        &.grid-1,
        &.grid-2 {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
        }

        &.grid-3,
        &.grid-4 {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }
    }

    @media screen and (min-width: $breakpoint-tablet) {
        grid-gap: calc(var(--space-4) / 2);

        &.grid-1,
        &.grid-2 {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
        }

        &.grid-3,
        &.grid-4 {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }

    @media screen and (min-width: $breakpoint-desktop) {
        grid-gap: var(--space-4);

        &.grid-1,
        &.grid-2 {
            padding: var(--space-4);
        }
    }
}

.tr-stream-enter {
    opacity: 0;
}

.tr-stream-enter-to {
    opacity: 1;
}

.tr-stream-leave {
    opacity: 1;
}

.tr-stream-leave-to {
    opacity: 0;
}

.tr-stream-enter-active {
    transition: opacity 0.5s;
}
