@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

.c-stream-view {
    align-items: stretch;
    display: grid;
    position: relative;

    @media screen {
        &.grid-2 {
            grid-gap: calc(var(--spacer) / 2);
            grid-template-rows: 1fr 1fr;

            .slot-1 {grid-area: 1 / 1;}
            .slot-2 {grid-area: 2 / 1;}
        }
    }

    @media screen and (min-width: $breakpoint-tablet) {
        &.grid-2 {
            grid-gap: calc(var(--spacer) / 2);
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;

            .slot-1 {grid-area: 1 / 1;}
            .slot-2 {grid-area: 1 / 2;}
        }
    }


    .c-stream {
        background: var(--bg-default);
        border-radius: calc(var(--spacer) * 2);
        display: flex;
        flex: 1;
        height: 100%;
        // padding: var(--spacer);
        transition: all 0.25s;

        &.placeholder {
            background: none;

            svg {
                fill: var(--grey-100);
            }
        }

        video {
            background: none;
        }
    }
}

.tr-stream-enter {
    opacity: 0;
}

.tr-stream-enter-to {
    opacity: 1;
}

.tr-stream-leave {
    opacity: 1;
}

.tr-stream-leave-to {
    opacity: 0;
}

.tr-stream-enter-active {
    transition: opacity 0.5s;
}
