@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';

.c-protocol-status {
    align-items: center;
    display: flex;

    .protocol {
        margin-top: $spacer;
        text-align: center;
        width: $spacer * 8;
    }

}
