@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';


.c-media-controls {
    display: flex;
    flex-direction: column;
    z-index: 100;

    &__bar {
        background: palette('bg', 'default');
        box-shadow: 0 0 1px 1px palette('grey', 400);
        flex: 1;
    }
}
