@import 'ca11/lib/variables';
@import 'ca11/lib/mixins';

.c-password {
    &__container {
        display: flex;
        position: relative;
    }

    &__element {
        padding-right: $spacer * 3.5;
        width: 100%;
    }

    &__eye {
        color: var(--grey-200);
        margin-left: -$spacer *4;
        padding: var(--spacer);

        &:hover {
            cursor: pointer;
        }

        &.visible {
            color: var(--grey-300);
        }
    }
}
