@import 'ca11/lib/mixins';
@import 'ca11/lib/variables';


.c-status-menu {
    background: var(--grey-500);
    color: var(--grey-200);

    .layer-topic {
        align-items: center;
        background: var(--primary-base);
        display: flex;
        height: $space-4;
        width: $space-4;
        justify-content: center;

        svg {
            @include icon-size($spacer * 5);
            color: $white-color;
        }
    }

    // The icon links container at the right top of the popup.
    &__menu {
        align-items: center;
        display: flex;
        flex: 1;
        flex-direction: row;

        &-side {
            display: flex;
        }
    }


    &__indicator,
    &__option {
        width: $space-4;
    }

    &__button {
        /// Account for the grid-gap.
        &:first-child {
            margin-right: $spacer-05;
        }

        &.disabled {
            opacity: 0.3;

            &:hover {
                cursor: default;
            }
        }

        &:hover,
        &.active {
            color: var(--primary-base);
            cursor: pointer;
        }

        &.active {
            border-bottom: $border solid var(--primary-base);
        }
    }

    &__indicator {
        .container {
            height: $space-4;
            width: $space-4;
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                @include icon-size($spacer * 4);
                fill: var(--grey-300);
            }

            &.error {
                // border: $border solid $red-color;
                svg {fill: $red-color;}
            }

            &.warning {
                border: $border solid $red-color;
                svg {fill: $red-color;}
            }

            &.ok {
                // border: $border solid $green-color;
                svg {fill: var(--primary-base);}
            }

            &.disabled {background: var(--grey-100);};
        }
    }

    .dnd-switch {
        width: 56px;
    }
}
